 <!--Bottom Nav-->
  <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-center">
        <h6 class="display-5 navbar-text">&copy; Copyright 2020. All Rights Reserved.</h6>
      </nav>
  </footer>