<!--Main Nav-->

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/"><img src="/assets/images/TELogoThumb.png" alt="Turboencabulator Logo" height="30px"
      width="auto"> Turboencabulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if(title == "Available Surveys") { %>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
      <a class="nav-link px-3" href="/"><i class="fas fa-lg fa-home"></i>&nbsp;&nbsp;&nbsp; Home </a>
      </li>
      <% if (typeof displayName == 'string' && displayName) { %>
        <% if(title == "Survey List") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
        <a class="nav-link px-3" href="/survey"><i class="fas fa-lg fa-poll-h"></i>&nbsp;&nbsp;&nbsp; Surveys</a>
        </li>
        <li class="navbar-text px-3" style="color: #F4A33C;"><i class="fas fa-lg fa-user"></i>&nbsp;&nbsp;&nbsp; <%= displayName %></li>
        <li class="nav-item px-3"><a href="/logout" class="nav-link" style="color: #800614;">
          <i class="fas fa-lg fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp; Logout</a>
        </li>
      <% } else { %>
      <li class="nav-item"><a href="/login" class="nav-link" style="color: #60B0F4;">
        <i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
      </li>
      <% } %>

  </div>
</nav>
