<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container min-vh-100">
    <div class="row min-vh-100 align-items-center justify-content-center text-center">
        <div class="col">
          <div class="pb-5">
          <h1 class="display-2"><%= title %></h1>
          <br>
          <h4>Welcome to Turboencabulator surveys</h2>
          <br>
          </div>

          <div>
              <a class="btn btn-info btn-lg" href="/survey">Get Started &nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a> 
          </div>
  
        </div>
      </div>

</main>

    
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>
