<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table class="table table-bordered">
    <tr>
        <th>
            Survey Title
        </th>
    </tr>
    <% for(let count = 0; count <  surveys.length; count++) { %>
      <tr>
          <td>
              <a href="">
                  <%= surveys[count].title %>
              </a>
          </td>
      </tr>
  <% } %>
</table>
</main>

    
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>
