<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container">
    <h1><%= title %> for <%= response.surveytitle %></h1>
    <br>
    <% for(let count = 0; count < response.answers.length; count++) { %>
    <% let question = response.answers[count].questiontext %>
    <% let answer = response.answers[count].answertext %>
    <div class="row">
        <div class="col">
            <div class="row">
                <b><%= question %></b>
            </div>
            <div class="row">
                <% if(typeof answer !== "undefined" && answer.length > 0) { %>
                    <p><i><%= answer %></i></p>
                <% } else { %>
                    <i>No answer provided</i>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>

</main>

<script>

</script>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>