<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container min-vh-100 p-5">

    <div class="col-md-12 col-sm-10 justify-content-center pb-5">
        <div class="row text-center justify-content-center h1"><%= title %> for</div>
        <div class="row text-center justify-content-center survey-title h1"><%= surveytitle %></div>   
    </div>
    <br>
    <table>
        <tr>
            <th>
                Response Link
            </th>
            <th>
                Response id
            </th>
        </tr>
        <% for(let count = 0; count <  responses.length; count++) { %>
          <tr>
                <td>
                    <a href="/survey/answers/<%= responses[count]._id %>">
                        Click to see answers
                    </a>
                </td>
                <td>
                    <%= responses[count]._id %>
                </td>
          </tr>
      <% } %>
    </table>
    
</main>


<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>